<div class="bg-light">
    <div class="jumbotron p-3">
        <h1 class="display-4">Hello, There!</h1>
        <p class="lead">I created this website as a small project in my learning process of Angular</p>
        <hr class="my-4">
        <p>While creating this website, I learned the basics of Angular, its directives, routing moudules and much more...
            <br>
            Tech Stack Used -> <b>Angular</b> & <b>Bootstrap</b>
        </p>
        <p class="lead">
            <a class="btn btn-sm btn-primary btn-lg" routerLink="/home" role="button">Back to Home</a>
        </p>
    </div>
</div>
